<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
    <main class="w-full min-h-[610px]">
      <h1 class="text-center">Courses</h1>
    </main>
    <%- include('../partials/footer') %> <%- include('../scripts/script') %>
  </body>
</html>
