<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %> <%- include('../partials/carousel') %>

    <section class="about-college py-8">
      <div class="heading">
        <h1 class="text-center text-3xl font-bold">About The College</h1>
        <hr
          class="my-5 h-px md:h-[2px] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-blue-500 to-transparent opacity-25 dark:opacity-100"
        />
      </div>
      <div class="about-content">
        <div class="w-full flex flex-wrap px-4">
          <div class="pinnacl-image md:w-1/2">
            <img
              class="rounded"
              src="http://pinnacleihm.com/wp-content/uploads/2019/05/apply-01.png"
              alt="Pinnacl Degree College"
            />
          </div>
          <div class="about-pinnacle md:w-1/2 px-2 md:p-4 md:px-8 md:py-0">
            <p class="py-2 md:py-3">
              Pinnacle made a humble beginning in 2001 with the endeavor to
              create “True Hospitality Professionals” who are in great demand
              rather than people with mere paper qualifications in 700sft with 7
              students by offering just one course – a diploma in Hotel
              management.
            </p>
            <p class="py-2 md:py-3">
              At Pinnacle over the years many things changed but one thing that
              remains unchanged is Pinnacles Quest for Quality Education.
            </p>
            <p class="py-2 md:py-3">
              Pinnacles Quest for Quality Education has yielded rich dividends,
              it is ranked as the No#1 college in Telangana from the past 5
              years 2017 to 2021 not only for excellence in education ,but also
              for giving excellent placements, state-of-the -art campuses,
              pedagogy, to name a few. This rank was accorded by non-other than
              the country’s largest circulated newspaper the Times of India.
              Pinnacle quest was also recognized by countries prestigious
              magazine Competition Success Review by awarding with the best
              college award in 2020.
            </p>
            <p class="py-2 md:py-3">
              Pinnacle group has Sprawling campuses with excellent
              infrastructure spread over 1,00,000sft. Top companies line up for
              campus placements as Pinnacle students are imparted by a pedagogy
              which is very different other this helps transforming students to
              holistic professionals.
            </p>
            <p class="py-2 md:py-3">
              Pinnacle envisages to be private university in the near future.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="about-pinnacle-logo my-4 md:my-8 p-4">
      <div class="flex flex-col-reverse md:flex-row flex-wrap">
        <div class="about-logo w-full md:w-1/2 px-2 md:px-4">
          <h3 class="text-xl font-bold md:text-3xl text-center">
            Meaning of Pinnacle Logo
          </h3>
          <hr
            class="my-5 h-px md:h-[2px] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-blue-500 to-transparent opacity-25 dark:opacity-100"
          />
          <div class="pb-4">
            <h3 class="font-bold">The reversed triangular:</h3>
            <p>
              Indicates Pinnacle’s growth in all directions for maintaining
              equilibrium.
            </p>
          </div>
          <p class="py-2 md:py-4">
            The overall blue border indicates: each person within a society is
            governed by rules, regulations & responsibilities; one should follow
            them for a healthier society. Pinnacle was started with the same
            endeavor and the same is imparted to our wards and staff.
          </p>
          <p class="py-2 md:py-4">
            The two equally balanced colors of grey and blue: Indicate the two
            sides of the brain whose balance is an indication of an intelligent,
            mature and balanced individual. We at Pinnacle help our wards and
            staff to use both the sides of the brain.
          </p>
          <p class="py-2 md:py-4">
            A white colors spark culminating into arrow towards blue colors:
            Indicates each person has immense innate strength(s) and we at
            Pinnacle help our wards & staff to identify them so that they reach
            the sky, cutting across their inhibitions and weaknesses like an
            arrow. This concept of ours is called “unlock the hero in you” which
            is followed in our institutions.
          </p>
        </div>
        <div class="logo-image w-full my-4 md:my-0 md:w-1/2">
          <img
            class="rounded w-full"
            src="http://pinnacleimc.com/wp-content/uploads/2021/07/inner-9.jpg"
            alt="Pinnacle-Logo"
          />
        </div>
      </div>
    </section>

    <!-- Footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
