<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>

    <div>
      <h1 class="text-white text-center py-8 text-2xl">Blogs</h1>
      <div class="flex justify-center items-center w-full h-[400px]">
        <p class="text-center text-white">
          This page is under process. Coming Soon...
        </p>
      </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
