<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/navbar') %>
    <h1 class="text-center">Contact Us</h1>
    <%- include('../scripts/script') %>
  </body>
</html>
