<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>

    <h1 class="text-center">Gallery</h1>

    <!-- Footer -->

    <%- include('../partials/footer') %>
  </body>
</html>
