<footer class="w-full">
  <div class="footer-menu bg-[#052c65] text-slate-300 py-4 px-2">
    <div class="flex">
      <div class="contact-section w-1/2">
        <h3 class="text-center text-lg mb-4">
          <span class="border-b-2 border-solid border-black font-semibold">
            Address
          </span>
        </h3>
        <div class="flex justify-center items-center flex-col">
          <p class="text-center text-sm sm:text-base">
            #12-1-59/NR, Goods Shed Road,Behind Registration Office, Moosapet,
            Hyderabad-500018 Admissions: +91 92465 28830 | +91 98665 38830
            info@pinnacleihm.com
          </p>

          <!-- Google Map Integration -->
          <!-- <div class="google-map h-60 w-full">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3805.82493173686!2d78.423237!3d17.4680914!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9181f1dca6fb%3A0x59a83412f3f1e9b9!2sPinnacle%20Degree%20College!5e0!3m2!1sen!2sin!4v1713709954218!5m2!1sen!2sin"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div> -->
        </div>
      </div>

      <div class="quick-links w-1/2">
        <h3 class="text-center text-lg mb-4">
          <span class="border-b-2 border-solid border-black font-semibold">
            Useful Links
          </span>
        </h3>
        <div class="flex justify-center items-center">
          <ul>
            <li class="mb-2">
              <a class="hover:text-white" href="#"> Enquiry </a>
            </li>
            <li class="mb-2">
              <a class="hover:text-white" href="#"> Contact Us </a>
            </li>
            <li class="mb-2">
              <a class="hover:text-white" href="#"> Media </a>
            </li>
            <li class="mb-2">
              <a class="hover:text-white" href="#"> Admin </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[#052c65] py-2 mt-2 text-slate-300">
    <p class="text-center text-xs">
      Copyright &copy; <%= new Date().getFullYear() %> Pinnacle Group Of
      Colleges
    </p>
  </div>
</footer>
