<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head') %>
  <body>
    <%- include('../../partials/navbar') %>
    <h1>I am the Notes Page</h1>
    <button>
      <a href="/student-corner/notes/upload">Click me to upload</a>
    </button>
  </body>
</html>
